header{
    margin-bottom: 60px;
}
.own_account{
    font-family: Roboto;
    color: #2AABE3;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 5px;
}
.you_can{
    font-family: Roboto;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 20px;
}
#login, #password{
    font-family: Roboto;
    color: #000000;
    width: 302px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
#enter{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    width: 302px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #2AABE3;;
    color: #FFFFFF;
}
.info{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    width: 302px;
    height: auto;
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #FFFFFF;
    padding: 5px 10px 5px;
}
.cards{
    margin-top: 60px;
}
.blocked{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 22px;
    color: #AAAAAA;
}